* {
    margin: 0;
    padding: 0;
}

/* header section start */
.header-cus {
    width: 85%;
    margin: auto;
    font-family: 'Manrope', sans-serif;
}

@media only screen and (max-width: 472px) {
    .header-cus {
        width: 95%;
        margin: auto;
    }
}
/* header section end */