* {
    margin: 0;
    padding: 0;
}

/* header section start */
.header-cus {
    width: 85%;
    height: auto;
    margin: auto;
    font-family: 'Manrope', sans-serif;
}



/* header section end */

/* hero section start */
.hero_section_main {
    width: 85%;
    margin: 3% auto;
}
.carousel {
    height: fit-content !important;
}
.for_bg_insert {
    width: 100%;
    height: 450px;
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#navBtnCus {
    top : 90%
}

.for_bg_insert {
    position: relative;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.silder_inner_discription {
    position: absolute;
    top: 60%;
    right: 4%;
    
}

.slider_text {
    width: 55%;
    border-radius: 16px;
    height: fit-content;
    overflow: hidden;
    background-color: black;
}

.slider_text > p:first-child {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.slider_text > p:nth-child(2) {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Manrope', sans-serif;
    margin-top: -10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.for_slider_inner_text_main_responsive {
    width: 100%;
    margin: 3% auto;
    border-radius: 16px;
    background-color: black;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.for_slider_inner_text_res_con > p:first-child {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.for_slider_inner_text_res_con > p:nth-child(2) {
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.for_slider_inner_text_main_responsive {
    display: none;
}
#navBTN {
    background-color: black;
    color: white;
    width: 30px !important;
    height: 30px !important;
    min-height: 2rem;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
/* hero section end */

/* professional section start */
.profesional_club_secttion {
    width: 50%;
    margin: 9% auto;
}
.profesioanl_con > p:first-child {
    color: #131318;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.profesioanl_con > p:nth-child(2) {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
/* professional section end */

/* progress section start */
.progress_section_main {
    width: 85%;
    margin: -4% auto;
}
.first_pro {
    width: 18%;
    margin: auto;
}
.pro_text {
    height: fit-content;
}
.pro_text > p:first-child {
    color: #131318;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    
}
.pro_text > p:nth-child(2) {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}

/* progress section end */

/* Program_Sections start */
.Program_Sections {
    width: 50%;
    margin: 7% auto;
}
.Program_Sections_con > p:first-child {
    color: #131318;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.pro_text > p:nth-child(2) {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
/* Program_Sections end */

/*program section start */
.program_section_main {
    width: 85%;
    margin: -2% auto;
}
.program_img_insert {
    width: 50%;
    height: 320px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.program_img_insert_two {
    width: 50%;
    height: 320px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.program_img_text > p:first-child {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.program_img_text > p:nth-child(2) {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.program_img_text > button {
    margin-top: -5px;
}
.program_img_insert_two > p:first-child {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.program_img_insert_two > p:nth-child(2) {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.program_img_insert_two > button {
    margin-top: -5px;
}

.program_sec_img_insert {
    width: 100%;
    height: 360px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.pro_second_img_text_wrap {
    width: 50%;
}

.pro_second_img_text_wrap > p:first-child {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.pro_second_img_text_wrap > p:nth-child(2) {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
/*program section end */

/* our new product section start */
.our_new_produc_section_main {
    width: 50%;
    margin: 7% auto;
}
.our_produc_con > p:first-child {
    color: #131318;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.our_produc_con > p:nth-child(2) {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
/* our new product section end */
/* product category start */
.product_category_section_main {
    width: 85%;
    margin: -2% auto;
}
.cate_product_img {
    width: 35%;
}
.world_cup_text p {
    color: rgba(19, 19, 24, 0.60);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.product_img_duscrip {
    width: 75%;
}
.product_dis_last_text > p:first-child {
    color: #FF4240;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
}
.o.product_dis_last_text > p:nth-child(3) {
    color: rgba(19, 19, 24, 0.50);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.caregory_box {
    border-radius: 16px;
    border: 1px solid rgba(19, 19, 24, 0.10);
}
/* product category end */

/* clint_question_section start */
.clint_section_main {
    width: 50%;
    margin: 10% auto;
}
.clint_section_con > p:first-child {
    color: #131318;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.clint_section_con > p:nth-child(2) {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
/* clint_question_section end */

/* our equpment section start */
.our_equipment_section_main {
    width: 85%;
    margin: -3% auto;
}
.equipment_img {
    width: 35%;
}
.equipment_accordion {
    width: 75%;
    margin-top: -2%;
}
.accor_for-border {
    
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
/* our equpment section end */

/* get in touch start */
.get_in_touch_section_main {
    width: 50% ;
    margin: 12% auto;
}
.get_in_touch_con > p:first-child {
    color: #131318;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.get_in_touch_con > p:nth-child(2) {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
/* get in touch end */

/* contact section start */
.contact_section_start {
    width: 85%;
    margin: 2% auto;
}
.contact_head {
    width: 30%;
}
.contact_head_info_box {
    width: 70%;
}
.contact_card_one , .contact_card_two, .contact_card_three {
    width: 100%;
    height: 180px;
}
.contact_card_one {
    border-radius: 16px;
    background: rgba(188, 237, 109, 0.10);
}
.contact_card_two {
    border-radius: 16px;
    background: rgba(253, 221, 95, 0.10);
}
.contact_card_three {
    border-radius: 16px;
    background: rgba(98, 156, 243, 0.10);
}

.contact_card_one > p:nth-child(2) {
    margin-top: 15px;
    color: grey;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}
.contact_card_one > p:nth-child(3) {
    color: #131318;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}
.contact_card_two > p:nth-child(2) {
    margin-top: 15px;
    color: grey;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}
.contact_card_two > p:nth-child(3) {
    color: #131318;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}
.contact_card_three > p:nth-child(2) {
    margin-top: 15px;
    color: grey;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}
.contact_card_three > p:nth-child(3) {
    color: #131318;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}

.contact_head {
    border-radius: 16px;
    border: 1px solid rgba(19, 19, 24, 0.10);
}
.for_label {
    color: #131318;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#name , #email , #subject , #phone , #feedback {
    border-radius: 12px;
    background: rgba(19, 19, 24, 0.03);
}
/*! responsive start here */
/* header responsive start */
@media only screen and (max-width: 472px) {
    .header-cus {
        width: 95%;
        margin: auto;
    }
    .header-cus {
        width: 95% !important;
        margin: auto;
    }
}
/* header responsive end */

/* hero section responsive start */
@media only screen and (max-width : 960px) {
    .hero_section_main {
        width: 90% !important;
    }
    .silder_inner_discription {
        display: none !important;
    }
    .for_slider_inner_text_main_responsive {
        display: inline-block !important;
    }
    #navBtnCus {
        justify-content: center;
    }
}
/* hero section responsive end */

/*professional section responsive start */
@media only screen and (max-width : 960px) {
    .profesional_club_secttion {
        width: 90%;
        margin: 1% auto;
    }
    .profesioanl_con > p:nth-child(2) {
        font-size: 15px;
    }
}
/*professional section responsive end */

/*progress section responsive start */
@media only screen and (max-width : 960px) {
    .progress_section_main {
        margin-top: 2%;
    }
    .progress_section_con {
        flex-direction: column;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first_pro {
        width: 90%;
    }
}
/*progress section responsive end */

/* Program Sections responsive start */
@media only screen and (max-width: 960px) {
    .Program_Sections {
        width: 90%;
    }
}

/*program section responsive start */
@media only screen and (max-width: 1024px) {
    .program_img_insert {
        width: 100%;
    }
    .program_img_insert_two {
        width: 100%;
    }
    
    .pro_second_img_text_wrap {
        width: 100%;
    }
}

@media only screen and (max-width: 556px) {
    .program_img_text > p:first-child {
        font-size: 20px;
    }
    .program_img_text > p:nth-child(2) {
        font-size: 12px;
    }
    .program_img_insert_two > p:first-child {
        font-size: 20px;
    }
    .program_img_insert_two > p:nth-child(2) {
        font-size: 12px;
    }
    .pro_second_img_text_wrap p:first-child{
        font-size: 20px;
    }
    .pro_second_img_text_wrap p:nth-child(2) {
        font-size: 12px;
    }
}
/*program section responsive end */

/* our new product section responsive start */
@media only screen and (max-width: 960px) {
    .our_new_produc_section_main {
        width: 85%;
    }
}
@media only screen and (max-width: 556px) {
    .our_produc_con > p:first-child {
        font-size: 23px;
    }
    .our_produc_con > p:nth-child(2) {
        font-size: 14px;
    }
}
/* our new product section responsive end */

/* product category responsive start */
@media only screen and (max-width: 768px) {
    .product_img_duscrip {
        width: 70%;
        margin: auto;
    }
    .cate_product_img {
        width: 100%;
       
    }
    .cate_product_img  img {
        width: 70%;
        margin: auto;
        object-fit: cover;
    }
   
   
}
/* product category responsive end */

/* clint_question_section responsive start */
@media only screen and (max-width: 960px) {
    .clint_section_main {
        width: 85%;
        
    }
}
/* clint_question_section responsive end */

/* our equpment section respojnsive start */
@media only screen and (max-width: 1024px) {
    .equipment_img {
        width: 100%;
        margin: auto;
        justify-content: center;
        
    }
    .equipment_img img {
        margin: auto;
    }
    .equipment_accordion {
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    .collapse-content P {
        font-size: 14px;
    }
}
/* our equpment section respojnsive end */

/* get in touch section responsive start  */
@media only screen and (max-width: 1024px) {
    .get_in_touch_section_main {
        width: 85%;
        
    }
}
/* get in touch section responsive end  */

/* contact section responsive start */
@media only screen and (max-width: 1024px) {
    .contact_head {
        width: 100%;
    }
    .contact_head_info_box {
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    #fomrCus {
        display: block;
    }
}
/* contact section responsive end */